<ion-header [translucent]="true" >
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center"> 
      CIM App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-text color="primary">
      <h1>Inventory</h1>
    </ion-text>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>Place</th>
            <th>CAS Number</th>
            <th>Chemical Name</th>
            <th>Quantity</th>
            <th>SDS</th>
            <th>Withdraw</th>
          </tr>
          <tr>
            <td data-th="Place"> UPS5005
            </td>
            <td data-th="CAS Number">
              UPS
            </td>
            <td data-th="Chemical Name">
              ASDF19218
            </td>
            <td data-th="Quantity">
              06/25/2016
            </td>
            <td data-th="SDS">
              12/25/2016
            </td>
            <td data-th="Withdraw">
              $8,322.12
            </td>
          </tr>
          <tr>
            <td data-th="Place">
              UPS3449
            </td>
            <td data-th="CAS Number">
              UPS South Inc.
            </td>
            <td data-th="Chemical Name">
              ASDF29301
            </td>
            <td data-th="Quantity">
              6/24/2016
            </td>
            <td data-th="SDS">
              12/25/2016
            </td>
            <td data-th="Withdraw">
              $3,255.49
            </td>
          </tr>
          <tr>
            <td data-th="Place">
              BOX5599
            </td>
            <td data-th="CAS Number">
              BOX Pro West
            </td>
            <td data-th="Chemical Name">
              ASDF43000
            </td>
            <td data-th="Quantity">
              6/27/2016
            </td>
            <td data-th="SDS">
              12/25/2016
            </td>
            <td data-th="Withdraw">
              $45,255.49
            </td>
          </tr>
          <tr>
            <td data-th="Place">
              PAN9999
            </td>
            <td data-th="CAS Number">
              Pan Providers and Co.
            </td>
            <td data-th="Chemical Name">
              ASDF33433
            </td>
            <td data-th="Quantity">
              6/29/2016
            </td>
            <td data-th="SDS">
              12/25/2016
            </td>
            <td data-th="Withdraw">
              $12,335.69
            </td>
          </tr>
        </tbody>
      </table>

    </div>
</ion-content>
