<ion-header>
  <ion-toolbar>
    <ion-title>Add {{chemical.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>


    <ion-row>
      <ion-col size="12">
        <h3>Current amount: {{chemical.quantity}}</h3>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" size-sm="11" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">Quantity</ion-label>
            <ion-input (ionChange)="onQuantityChange($event)" type="number" placeholder="enter quatity..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-button color="secondary" (click)="addChemical()"
          ><ion-icon name="add-circle"></ion-icon> &nbsp; Add 
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="closeModal()" color="warning">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-content>