
<ion-header [translucent]="true" >
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center"> 
      CIM App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 
  <div id="img">
  <h1 id="header">
    <ion-grid fixed>
      <ion-row>
        <ion-col offset-lg="2"  size-lg="4" size="12">Chemical</ion-col>
        <ion-col size-lg="6" size="12">Inventory</ion-col>
        <ion-col offset-lg="2"  size-lg="10" size="12">Management</ion-col>
      </ion-row>
    </ion-grid>
  </h1>
  
  <ion-buttons slot="primary">
    <ion-button [routerLink]="['/auth/signup']" >
      <ion-icon name="person-circle"></ion-icon> Sign Up
    </ion-button>
    <br>
    <ion-button [routerLink]="['/auth/signin']">
      <ion-icon name="log-in-outline"></ion-icon>Sign In
    </ion-button>
  </ion-buttons>
  <div class="container">
    <div class="flask flask_small flask_left">
      <div class="circle circle_little circle_little-white"></div>
      <div class="circle circle_little circle_little-purpure"></div>
      <div class="circle circle_little circle_little-blue"></div>
      <div class="circle circle_little circle_little-white flask__circle1"></div>
      <div class="circle circle_small flask__circle2"></div>
      <div class="flask__throat">
        <div class="flask__throat-one"></div>
        <div class="flask__throat-two"></div>
        <div class="flask__throat-three"></div>
        <div class="flask__throat-four"></div>
      </div> 
      <div class="flask__bottom">
        <div class="flask__triangle">
          <div class="flask__bottom-one"></div>
          <div class="flask__bottom-two"></div>
          <div class="flask__bottom-five"></div>
          <div class="flask__bottom-six"></div>
          <div class="flask__bottom-seven"></div>
          <div class="flask__bottom-eight"></div> 
        </div>
      </div>
    </div>
    <div class="flask flask_small flask_center">
      <div class="circle circle_little circle_little-white"></div>
      <div class="circle circle_little circle_little-purpure"></div>
      <div class="circle circle_little circle_little-blue"></div>
      <div class="circle circle_small"></div>
      <div class="flask__throat">
        <div class="flask__throat-one"></div>
        <div class="flask__throat-two"></div>
        <div class="flask__throat-three"></div>
        <div class="flask__throat-four"></div>
      </div> 
      <div class="flask__bottom">
        <div class="flask__triangle">
          <div class="flask__bottom-one"></div>
          <div class="flask__bottom-two"></div>
          <div class="flask__bottom-five"></div>
          <div class="flask__bottom-six"></div>
          <div class="flask__bottom-seven"></div>
          <div class="flask__bottom-eight"></div> 
        </div>
      </div>
    </div>
    <div class="flask flask_right">
      <div class="circle circle_small"></div>
      <div class="circle circle_middle"></div>
      <div class="circle circle_little circle_little-white"></div>
      <div class="circle circle_little circle_little-purpure"></div>
      <div class="circle circle_little circle_little-blue"></div>
      <div class="flask__throat">
        <div class="flask__throat-one"></div>
        <div class="flask__throat-two"></div>
        <div class="flask__throat-three"></div>
        <div class="flask__throat-four"></div>
      </div>
      <div class="flask__bottom">
        <div class="flask__triangle">
          <div class="flask__bottom-one"></div>
          <div class="flask__bottom-two"></div>
          <div class="flask__bottom-five"></div>
          <div class="flask__bottom-six"></div>
          <div class="flask__bottom-seven"></div>
          <div class="flask__bottom-eight"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
