<ion-header>
  <ion-toolbar>
    <ion-title>Add New Chemical</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>


    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">Chemical name</ion-label>
            <ion-input (ionChange)="onNameChange($event)" type="text" placeholder="enter chemical name here..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">CAS Number</ion-label>
            <ion-input (ionChange)="onCASNumberChange($event)" type="text" placeholder="enter CAS number..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">SDS</ion-label>
            <ion-input (ionChange)="onSDSChange($event)" type="text" placeholder="enter SDS..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">Select Unit Type</ion-label>
            <ion-select
            (ionChange)="onUnitTypeChange($event)"
            >
              <ion-select-option value="ml">Milli Litre (ml)</ion-select-option>
              <ion-select-option value="l">Litre (l)</ion-select-option>
              <ion-select-option value="mg">Milli Gram (mg)</ion-select-option>
              <ion-select-option value="g">Gram (g)</ion-select-option>
              <ion-select-option value="kg">Kilo Gram (kg)</ion-select-option>
          
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">Quantity</ion-label>
            <ion-input (ionChange)="onQuantityChange($event)" type="number" placeholder="enter quatity..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="5" offset-sm="1">
        <ion-list>
          <ion-item>
            <ion-label class="required" position="floating">Place</ion-label>
            <ion-input (ionChange)="onPlaceChange($event)" type="text" placeholder="enter place..."></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>  
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-button color="secondary" (click)="addNewChemical()"
          ><ion-icon name="add-circle"></ion-icon> &nbsp; Add New Chemical
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="closeModal()" color="warning">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-content>